<template>
  <div class="about">
    <h1>This is an about page</h1>
    <button class="btn btn-outline-primary" @click="logout">Log out</button>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  methods: {
    ...mapMutations(["logout"])
  }
};
</script>
