<template>
    <div>
        <h1>Data and Methods</h1>
        <br>
        <data-method></data-method>
  </div>
</template>

<script>

// @ is an alias to /src
import DataMethod from '@/components/DataMethods.vue'

export default {
    name: 'datamethod',
    components:{
        'data-method': DataMethod
    }
}
</script>

<style>

</style>