<template>
  <div class="home">
    <h1>Welcome to Vue app</h1>
    <br>
    <h2>Chúng ta cùng tìm hiểu về Vue.js</h2>
    <intro></intro>
  </div>
</template>

<script>

import Intro from '@/components/intro.vue'

export default {
  name: "home",
  components:{
    'intro': Intro
  }
};
</script>
