<template>
  <vue-class-style></vue-class-style>
</template>

<script>

import ClassStyle from '@/components/ClassStyle.vue'
export default {
    name: 'classStyle',
    components: {
        'vue-class-style': ClassStyle
    }
}
</script>

<style>

</style>