<template>
    <vue-component></vue-component>
</template>

<script>

import Component from '@/components/User.vue'
export default {
    name: 'component',
    components: {
        'vue-component': Component
    }
}
</script>

<style>

</style>