<template>
    <vue-computed></vue-computed>
</template>

<script>

import Computed from '@/components/computed.vue'
export default {
    name: 'computed',
    components: {
        'vue-computed': Computed
    }
}
</script>

<style>

</style>