<template>
  <div>
      <vue-directives></vue-directives>
  </div>
</template>

<script>

import Directive from '@/components/Directive.vue';

export default {
    name:'directive',
    components:{
        'vue-directives': Directive
    }
}
</script>

<style>

</style>