<template>
    <vue-form></vue-form>
</template>

<script>

import FormInput from '@/components/FormInput.vue'

export default {
    name: 'formInput',
    components: {
        'vue-form': FormInput
    }
}
</script>

<style>

</style>