<template>
    <vue-filter-mixins></vue-filter-mixins>
</template>

<script>

import FilterMixins from '@/components/FilterMixins.vue'
export default {
    name: 'filterMixin',
    components: {
        'vue-filter-mixins': FilterMixins
    }
}
</script>

<style>

</style>