<template>
    <div>
        <app-vuex-data></app-vuex-data>
        <app-vuex-counter></app-vuex-counter>
    </div>
</template>

<script>

import VuexData from '@/components/VuexData.vue'
import VuexCounter from '@/components/VuexCounter.vue'
export default {
    name: 'useVuex',
    components: {
        'app-vuex-data': VuexData,
        'app-vuex-counter': VuexCounter
    }
}
</script>

<style>

</style>