<template>
  <div>
      <!-- use object syntax to bind class -->
      <div class="square" @click="qlRed = !qlRed" :class="{ red: qlRed }"></div>
      <div class="square" @click="qlBlue = !qlBlue" :class="{ blue: qlBlue }"></div>
      <div class="square" @click="qlYellow = !qlYellow" :class="{ yellow: qlYellow }"></div>
      <br>
      <!-- use array syntax to bind class -->
      <div class="square" :class="[ activeGreen ]"></div>
      <!-- set style inline -->
      <div class="square" :style="{ backgroundColor: darkBlue, width: setWidth }"></div>
      <div class="square" :style="styleObject"></div>
  </div>
</template>

<script>
export default {
    data() {
        return {
            qlRed: false,
            qlBlue: false,
            qlYellow: false,
            activeGreen: 'red',
            darkBlue: 'darkblue',
            setWidth: '250px',
            styleObject: {
                'background-color': 'lime',
                width: '250px',
                border: '1px solid #000'
            }
        }
    }
}
</script>

<style scoped>
    .square {
        width: 200px;
        height: 200px;
        background-color: gray;
        display: inline-block;
        margin: 10px;
    }
    .red {
        background-color: red;
    }
    .blue {
        background-color: blue;
    }
    .yellow {
        background-color: yellow;
    }
    .green {
        background-color: green;
    }
</style>