<template>
    
    <div>
        <div id="computed" class=" border border-success p-3">
            <form class="form-group">
                <label for=""> Họ và tên: </label> 
                <input type = "text" class="form-control" v-model = "name" />
                <label for=""> Tuổi: </label>
                <input type = "text" class="form-control" v-model = "age"/>
                <label for=""> Địa chỉ: </label>
                <input type = "text" class="form-control" v-model = "address"/>
            </form>
            <h3>Thông tin cá nhân:</h3>
            <p> {{fullInfor}} </p>
        </div>
        <br>
        <div id="watcher" class=" border border-success p-3 mb-3">
            <h2>Chuyển đổi đơn vị khoảng cách</h2>
            <form class="form-group">
                <label for="">Nhập kilometers: </label>
                <input type="text" class="form-control" v-model="km">
                <label for="">Chuyển đổi ra meters: </label>
                <input type="text" class="form-control" v-model="m">
                <label for="">Chuyển đổi ra centimeters: </label>
                <input type="text" class="form-control" v-model="cm">
            </form>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return{
            name: "",
            age: "",
            address: "",
            km: 0,
            m: 0,
            cm: 0
        }
    },
    computed: {
        fullInfor(){
            return 'Họ tên: ' + this.name + '  , Số tuổi: ' + this.age + '  , Địa chỉ: ' + this.address;
        }
    },
    watch: {
        km(val){
            this.km = val;
            this.m = val * 1000;
            this.cm = val * 100000;
        },
        m(val){
            this.km = val / 1000;
            this.m = val;
            this.cm = val * 100;
        },
        cm(val){
            this.km = val / 100000;
            this.m = val / 100;
            this.cm = val;
        },
    }
}
</script>

<style scoped>
    
</style>