<template>
    <div>
        <h2>Data là gì?</h2>
        <h4> {{ message }} </h4>
        <br>
        <h2>Method là gì?</h2>
        <h4>Ví dụ: Số lần bạn nhấn button {{ count }} </h4>
        <button v-on:click="counter()">Nhấn nào</button>
    </div>
</template>

<script>
export default {
    data() {
        return {
            message: 'This is data in Vue',
            count: 0
        }
    },
    methods: {
        counter() {
            return this.count +=1
        }
    }
}
</script>

<style>

</style>