<template>
  <div>
    <h1>Tìm hiểu một số directive</h1>
    <br>
    <!-- v-bind  -->
    <img id="img-directive" :src="urlImage" :class="size">

    <!-- v-show  -->
    <div>
      <h1 v-show="surprise" class="text-danger"> {{ msgSurprise }} </h1>
      <button type="button" class="btn btn-danger mt-2" @click="openSurprise">Nhấn để thấy điều bất ngờ</button>
    </div>

    <!-- v-if, v-else, v-else-if  -->
    <div class="border border-success p-2">
        <div v-if="hide">
            <h1>Now you see me!</h1>
            <img src="@/assets/IMG20171017.jpg" alt="my photo" id="my-profile" class="m-2">
            <h2>HÙ! Hết hồn chưa</h2>
            <h2>Đã thấy sợ chưa</h2>
        </div>
        <div v-else>
            <h2>Mình bị ẩn đi rồi nhấn button nếu muốn gặp mình ^^</h2>
        </div>
        <button @click="meBack" class="btn btn-warning"> {{ btnPress }} </button>
    </div>

    <br> 
    <div class="border border-success p-2">
        <h1>Xét học lực</h1>
        <h3>Điểm bằng: {{ point }}</h3>
        <h3>
            Bạn đạt học lực:  
            <span v-if="point < 4"> Yếu </span>
            <span v-else-if="point >= 4 && point < 6.5"> Trung Bình </span>
            <span v-else-if="point >= 6.5 && point < 8.5"> Khá </span>
            <span v-else> Giỏi </span>
        </h3>
        <!-- use v-on to up point -->
        <button type="button" class="btn btn-secondary mt-2" @click="upPoint">Chọn Điểm</button>
    </div>
    <br>

    <div id="list" class="border border-success">
      <h3>Thông tin người dùng</h3>
        <ol>
            <li v-for="item in infor" v-if="item.age" :key="item.id">{{ item.name }}</li>
        </ol>
    </div>
  </div>
</template>

<script>
export default {
    data() {
        return {
            urlImage: 'https://tutorialesenpdf.com/wp-content/uploads/2018/05/vuejs-tutorial-pdf.jpg',
            size: {
              'size-img': true
            },
            msg: 'We are all in the same game, just different levels',
            point: 0,
            msgSurprise: 'Tớ chào cậu, mình kết bạn nha hihi!',
            surprise: false,
            hide: false,
            btnPress: 'Nhấn để nhìn thấy mình',
            infor: [
                { id:1, name : 'Nguyễn Văn A', age: 22},
                { id:2, name : 'Trần Thị B', age: 22},
                { id:3, name : 'Lương Minh C'},
                { id:4, name : 'Phan Văn D'},
              ]
        };
    },
    methods:{
        upPoint() {
            if (this.point == 10) {
              this.point = 0;
            }
            else {
              this.point += 0.5;
            }
        },
        openSurprise() {
            this.surprise = true;
        },
        meBack() {
            if (this.hide == false) {
                this.hide = true;
                this.btnPress = 'Nếu bạn sợ thì ẩn đi';
            }
            else {
                this.hide = false;
                this.btnPress = 'Nhấn để nhìn thấy mình';
            }
            
        }
    }
};
</script>
<style scoped>
  #img-directive {
    width: 650px;
    height: 350px;
  }
  #my-profile {
    width: 300px;
    height: 350px;
  }
  div {
    padding-bottom: 30px;
  }
  #list {
    text-align: left;
    padding: 10px 30px;
  }
</style>