<template>
    <div>
        <div id="filter">
            <h1>Filter & Mixins</h1><hr>
            <h2> {{ msg | lowerCase | upperCase }} </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Danh sách các hãng điện thoại</h3>
                <ul>
                    <li v-for="product in products" :key="product"> {{ product }} </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>

import { listMixin } from '@/store/mixin.js'
export default {
    mixins: [listMixin],
    data() {
        return {
            msg: 'Hello Everyone!'
        }
    },
    // use local filter
    filters: {
        upperCase(msg) {
            return msg.toUpperCase()
        }
    }
}
</script>

<style>

</style>