<template>
    <div>
        <!-- form input text -->
        <div  class="form-group border border-success p-2">
            <input type="text" class="form-control" v-model.lazy="msg"  v-on:keyup.enter.once="sendMessage">
            <p class="p-2"> {{ msg }} </p>
        </div>
        <div class="border border-success p-2">
            <div>
                <!-- checkbox use array -->
                <h2>Checkbox</h2>
                <input type="checkbox" value="One" v-model="checkedName">One
                <!-- <input type="checkbox" value="Two" v-model="checkedName">Two
                <input type="checkbox" value="Three" v-model="checkedName">Three -->
                <h3> {{ checkedName }}</h3>
                <hr>
                <!-- radio input -->
                <h2>Radio</h2>
                <input type="radio" v-model="picked" value="Vuejs">Vue.js
                <input type="radio" v-model="picked" value="Laravel">Angular
                <input type="radio" v-model="picked" value="React">React
                <h3>Bạn đang học: {{ picked }}</h3>
            </div>
            <hr>
            <div>
                <!-- select input vs v-for v-bind -->
                <select v-model="selected">
                    <option v-for="option in options" :value="option.value" :key="option.id">
                        {{ option.text }}
                    </option>
                </select>
                <h4>Món ăn bạn chọn: {{selected}}</h4>
            </div>
        </div>
        <br>
        <!-- v-on and modifier -->
        <div class="form-group">
        <form  v-on:submit.prevent="submitForm" class="border border-success p-2">
            <label for=""><b> Submit không thể reload trang </b></label>
            <input type="text" class="form-control" placeholder="Enter somthing here!" >
            <input type="submit" class="btn btn-secondary mt-2" value="Submit">
        </form>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            msg: 'Hello World!',
            checkedName: '',
            picked: '',
            options: [
                { text: 'Món số 1', value: 'Vịt quay Bắc Kinh' },
                { text: 'Món số 2', value: 'Penang assam laksa (Malaysia)' },
                { text: 'Món số 3', value: 'Sushi Nhật Bản' },
                { text: 'Món số 4', value: 'Ramen Nhật Bản' },
                { text: 'Món số 5', value: 'Okonomiyaki – bánh xèo Nhật Bản' }
            ],
            selected: 'Vịt quay Bắc Kinh'
        }
    },
    methods: {
        submitForm() {
            alert('Bạn vừa submit form!!!');
        },
        sendMessage: function() {
            console.log('Message: ' + this.msg)
        }
    }
}
</script>

<style scoped>

</style>