<template>
  <div>
      <img id="img-intro" v-bind:src="urlImage">
  </div>
</template>

<script>
export default {
    data() {
        return{
            urlImage: 'https://www.factweavers.com/blog/wp-content/uploads/2018/02/vuejs.png'
        }
    }
}
</script>

<style scoped>
    #img-intro {
        max-width: 100% 
    }
</style>