<template>
    <div id="component" class="p-4 border border-dark">
        <h1>I'm the User Component</h1>
        <p>I wanna become to a developer</p>
        <button class="btn btn-secondery" @click="changeName">Change my name</button>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <app-user-infor 
                    :name="name"
                    @nameReset="name = $event"
                    :myAge="age"
                    >
                    <p>I'm from Thái Bình</p>
                    <p>And I'm so handsome</p>
                    </app-user-infor>
            </div>
            <div class="col-md-6">
                <app-user-edit 
                    :myAge="age" 
                    @fixMyAge="age = $event"
                    >
                    </app-user-edit>
            </div>
        </div>
    </div>
</template>

<script>

import UserInfor from './UserInfor.vue'
import UserEdit from './UserEdit.vue'

export default {
    data() {
        return {
            name: 'Nguyễn Văn Vỹ',
            age: '18'
        }
    },
    methods: {
        changeName() {
            this.name = 'Jeff'
        }
    },
    components: {
        'app-user-infor': UserInfor,
        'app-user-edit': UserEdit
    }
}
</script>

<style scoped>
    #component {
        background-color: #42b983;
    }
</style>