<template>
    <div id="edit" class="p-3 border border-dark">
        <h1>You may edit User here</h1>
        <h3>Edit here</h3>
        <p>My age: {{ myAge }} years old</p>
        <button class="btn btn-secondary" @click="editAge()">Fix My Age</button>
    </div>
</template>

<script>
export default {
    props: {
        myAge: Number
    },
    methods: {
        editAge() {
            this.myAge = 22;
            this.$emit('fixMyAge', this.myAge)
        }
    }
}
</script>

<style>
    #edit {
        background-color: cadetblue;
    }
</style>