<template>
    <div id="infor" class="p-3 border border-dark">
        <h1>Information of User</h1>
        <h3>You can see information of User</h3>
        <slot></slot>
        <p>My name is: {{ name }} </p>
        <p>My age: {{ myAge }} years old</p>
        <button class="btn btn-secondary" @click="resetName">Reset Name</button>
    </div>
</template>

<script>

// Use props to transmit data from parent component to children components
// children components communicate with parent component through events

export default {
    props: {
        name: {
            type: String,
            default: 'Nguyễn Văn Vỹ'
        },
        myAge: Number
    },
    methods: {
        // Tạo một sự kiện để gửi đến cha
        resetName() {
            this.name = 'Nguyễn Văn Vỹ';
            this.$emit('nameReset', this.name)
        }
    }
}
</script>

<style>
    #infor {
        background-color: darksalmon;
    }
</style>