<template>
    <div>
        <h1>Tìm hiểu VueX</h1>
        <h3>Đếm giá trị</h3>
        <hr>
        <p>Số lần đếm: {{ count }} </p>
        <hr>
        <p>Nhân 2 số lần đếm: {{ doubleCount }} </p>
        <hr>
    </div>
</template>

<script>

// phương thức khác của getters để không phải khai báo dài dòng nhiều lần
import { mapGetters } from 'vuex';
export default {
    computed: {
        count() {
            return this.$store.state.count;
        },
        doubleCount() {
            return this.$store.getters.doubleCount;
        },
        // ...mapGetters(['doubleCount'])

    }
}
</script>

<style>

</style>