<template>
  <div>
    <button class="btn btn-warning" @click="increment">Tăng</button>
    <button class="btn btn-warning m-3" @click="decrement">Giảm</button>
    <button class="btn btn-success m-3" @click="incrementRandom">Tăng 50 giá trị</button>
    <button class="btn btn-success m-3" @click="decreTen">Giảm 10 giá trị</button>
    <button class="btn btn-danger m-3" @click="incrementAc">Tăng giá trị không có timeout</button>
    <button class="btn btn-danger m-3" @click="decrementAc">Giảm 10 giá trị có timeout</button>
  </div>
</template>

<script>

import { mapMutations } from 'vuex'
import { mapActions } from 'vuex'
export default {
    methods: {
        increment() {
            this.$store.state.count++;
        },
        decrement() {
            this.$store.state.count--;
        },
        incrementRandom() {
            this.$store.commit('increRandom', 10)
        },
        // sử dụng mapMutations ta không thể truyền tham số vào
        ...mapMutations(['decreTen']),
        ...mapActions(['incrementAc', 'decrementAc'])

    }
};
</script>

<style>
</style>