<template>
  <div id="app">
    <template v-if="!isLoggedin">
      <img alt="Vue logo" src="./assets/logo.png" class="mx-auto d-block"/>
      <div class="container mt-3">
        <div class="row justify-content-center">
          <div class="col-6">
            <div class="card">
              <div class="card-header">Login</div>
              <div class="card-body">
                <form action method @submit.prevent="handleSubmit">
                  <div class="form-group row">
                    <label
                      for="email_address"
                      class="col-md-4 col-form-label text-md-right"
                    >User name</label>
                    <div class="col-md-6">
                      <input type="text" class="form-control" v-model="username" required />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                    <div class="col-md-6">
                      <input type="password" class="form-control" v-model="password" required />
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Login</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
    <template v-else>
      <header id="header">
        <img alt="Vue logo" src="./assets/logo.png"/>
      </header>
      <section id="content">
        <div id="nav">
          <ul>
            <li><router-link to="/home">Home</router-link></li>
            <li><router-link to="/datamethod">Data & Methods</router-link></li>
            <li><router-link to="/computed">Computed & Watcher</router-link></li>
            <li><router-link to="/directive">Template syntax & Conditional/List Rendering</router-link></li>
            <li><router-link to="/classStyle">Class & Style Bindings</router-link></li>
            <li><router-link to="/formInput">Event handling & Form Input Binding</router-link></li>
            <li><router-link to="/component">Components</router-link></li>
            <li><router-link to="/filterMixins">Filter & Mixins</router-link></li>
            <li><router-link to="/useVuex">VueX</router-link></li>
            <li><router-link to="/about">Log Out</router-link></li>
          </ul>
        </div>
        <div id="main-app">
          <router-view></router-view>
        </div>
      </section>
    </template>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      username: "",
      password: ""
    };
  },
  computed: {
    ...mapGetters(["isLoggedin"])
  },
  methods: {
    ...mapActions(["login"]),
    handleSubmit() {
      let { username, password } = this;
      this.login({ username, password });
      this.username = "";
      this.password = "";
      this.$router.push("/home");
    }
  }
};
</script>

<style lang="scss">

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  img {
    width: 100px;
    height: 100px;
    margin-left: 30px;
  }
}
#content {
  display:flex;
  margin-top: 100px;
}
#nav {
  min-height: calc(100vh - 100px);
  border-right: 1px solid rgba(0,0,0,0.1);
  width: 280px;
  flex-basis: 280px;
  flex-shrink: 0;
  padding: 20px;
  ul {
    list-style-type: none;
    padding: 0;
    li {
      padding: 10px;
      word-wrap: break-word;
    }
  }
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active, &:hover {
      color: #42b983;
      text-decoration: none;
    }
  }
}

#main-app {
  flex-grow: 1;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}
</style>
